@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer Home Page</h2>
<br />
<h4>Your account details are listed below</h4>
<br />
<p>Click the link in the table below to update account information or select a one-time pickup</p>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickupDay)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItme => item.balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickupDay)
            </td>
            <td>
                @Html.ActionLink("Update Account", "Edit", new { id = item.customerId })
            </td>
        </tr>
    }

</table>

