@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "ConfirmPickup";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.customerId)
    @Html.HiddenFor(model => model.ApplicationUserId)
    @Html.HiddenFor(model => model.pickupDay)
    @Html.HiddenFor(model => model.streetAddress)
    @Html.HiddenFor(model => model.city)
    @Html.HiddenFor(model => model.zipCode)
    @Html.HiddenFor(model => model.firstName)
    @Html.HiddenFor(model => model.lastName)
    @Html.HiddenFor(model => model.longitute)
    @Html.HiddenFor(model => model.latitude)
    @Html.HiddenFor(model => model.balance)
    @Html.HiddenFor(model => model.stateAbbreviation)


    <h2>Would you like to confirm trash has been collected from this address?</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.streetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.streetAddress)
            </td>
            <td>
                @Html.DisplayFor(model => model.city)
            </td>
            <td>
                @Html.DisplayFor(model => model.zipCode)
            </td>
        </tr>
    </table>

    <h4>Click submit to confirm or click return to return to the previous page</h4>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Yes" class="btn btn-default" />
        </div>
    </div>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

