@model IEnumerable<TrashCollector.Models.PickupTracker>

@{
    ViewBag.Title = "PickupListing";
}

<h2>Pickup Tracker Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pickupDate)
        </th>
        <th>Pickup Address</th>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pickupDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.streetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.lastName)
        </td>
    </tr>
}

</table>
